[submodule "lisp/use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/org-mode"]
	path = lisp/org-mode
	url = http://orgmode.org/org-mode.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
